layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="work" {
        pane split_direction="horizontal" {
            pane size="50%" { // Top pane (half screen)
	        command "claude-sandbox"
		args "run" "-P" "zai"
	    }		
            pane split_direction="vertical" {
                pane size="50%" { // Bottom left pane
		    command "backlog"
	            args "board"
                }
                pane size="50%" {  // Bottom right pane
             
                }
            }
        }
    }
}
